.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)),
    url(D:\blogapplication\client\src\assests\blog4.jpeg);
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
    font-size: 16px;
}

.registerInput{
    font-weight: 100%;
    background-color: white;
    border: none;
    padding: 10px;
}

.registerButton{
    margin-top: 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.loginLoginButton{
   
    padding: 10px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}